In [1]:
import pandas as pd
from langdetect import detect
import unidecode
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize 
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.stem.snowball import SnowballStemmer

In [2]:
def convert_unidecode(x):
    return unidecode.unidecode(x)

In [3]:
# remove ponctuation
def remove_punct1(x):
    p = ['!', '(', ')', '-', '[', ']', '{', '}', ';', ':', "'", '"', '\\', ',', '<', '>', '.', '/', '?', '@', '#', '$', '%', '^', '&', '*', '_', '~']
    return ' '.join([string for string in x.split(' ') if string not in p])

In [4]:
# remove ponctuation
def remove_punct2(x):
    import re
    return re.sub(r'[^\w]|[^\w] ', ' ', x)

In [5]:
# Define stop words to clean text (job description)
stopwords_en = set(stopwords.words('english'))

stopwords_pt = set(stopwords.words('portuguese'))

stopwords_es = set(stopwords.words('spanish'))

stopwords_de = set(stopwords.words('german'))

stopwords_nl = set(stopwords.words('dutch'))

stopwords_fr = set(stopwords.words('french'))

stopwords_fi = set(stopwords.words('finnish'))

In [6]:
def remove_stop_words(x):
    return ' '.join([word.lower() for word in x.split() \
                   if word.lower() not in (stopwords_en)]) if detect(x)=='en'\
    else ' '.join([word.lower() for word in x.split() \
                   if word.lower() not in (stopwords_pt)]) if detect(x)=='pt'\
    else ' '.join([word.lower() for word in x.split() \
                   if word.lower() not in (stopwords_es)]) if detect(x)=='es'\
    else ' '.join([word.lower() for word in x.split() \
                   if word.lower() not in (stopwords_de)]) if detect(x)=='de'\
    else ' '.join([word.lower() for word in x.split() \
                   if word.lower() not in (stopwords_fr)]) if detect(x)=='fr'\
    else ' '.join([word.lower() for word in x.split() \
                   if word.lower() not in (stopwords_nl)]) if detect(x)=='nl'\
    else ' '.join([word.lower() for word in x.split() \
                   if word.lower() not in (stopwords_fi)])

In [7]:
def remove_stop_words1(x):
    stop_words_concat = list(stopwords_en)+list(stopwords_es)+list(stopwords_pt)
    return ' '.join([word.lower() for word in x.split() \
                   if word.lower() not in stop_words_concat])

In [8]:
def stem_snowball(x):
    if detect(x) == 'pt':
        stemmer = SnowballStemmer('portuguese')
        tokens = nltk.word_tokenize(x)
        return [stemmer.stem(token) for token in tokens]
    elif detect(x) == 'en':
        stemmer = SnowballStemmer('english')
        tokens = nltk.word_tokenize(x)
        return [stemmer.stem(token) for token in tokens]
    elif detect(x) == 'es':
        stemmer = SnowballStemmer('spanish')
        tokens = nltk.word_tokenize(x)
        return [stemmer.stem(token) for token in tokens]
    elif detect(x) == 'de':
        stemmer = SnowballStemmer('german')
        tokens = nltk.word_tokenize(x)
        return [stemmer.stem(token) for token in tokens]
    elif detect(x) == 'nl':
        stemmer = SnowballStemmer('dutch')
        tokens = nltk.word_tokenize(x)
        return [stemmer.stem(token) for token in tokens]
    elif detect(x) == 'fr':
        stemmer = SnowballStemmer('french')
        tokens = nltk.word_tokenize(x)
        return [stemmer.stem(token) for token in tokens]
    elif detect(x) == 'fi':
        stemmer = SnowballStemmer('finnish')
        tokens = nltk.word_tokenize(x)
        return [stemmer.stem(token) for token in tokens]
    else:
        return nltk.word_tokenize(x)

In [9]:
def bigrams(x):
    try:
        #Tokens = nltk.word_tokenize(x)
        output = list(nltk.bigrams(x))
        return output
    except:
        pass

In [10]:
def trigram(x):
    try:
        #Tokens = nltk.word_tokenize(x)
        output = list(nltk.trigrams(x))
        return output
    except:
        pass

In [11]:
def token(x):
    return nltk.word_tokenize(x)

In [12]:
df = pd.read_csv('/home/inrx/Ironhack/TA/job-search/linkedin-project/linkedin_search.csv')
print (df.shape)
df.head()

(723, 12)

,title,company,company-link,post-date,applications,location,role-description,link,"experience,",type_work,function,sector_final
0,"Data Analyst - Milano, Milano",P. & P. Consulting,https://it.linkedin.com/company/programs-&-pro...,2 days ago,Be among the first 25 applicants,"Milano, IT","Ricerchiamo un Data Analyst, per attività di a...",https://www.linkedin.com/jobs/view/1605083546,Entry level,Full-time,Information Technology,"['', 'Information ', 'Technology and ', 'Servi..."
1,Data Analyst,Cromwell Property Services,https://uk.linkedin.com/company/cromwell?trk=g...,3 weeks ago,Be among the first 25 applicants,"Leicester, GB",As we embark on an exciting period of change t...,https://www.linkedin.com/jobs/view/1564171840,Entry level,Full-time,Information Technology,"['', 'Staffing and ', 'Recruiting', 'Consumer ..."
2,Data Analyst Intern,The Shortcut,https://fi.linkedin.com/company/theshortcut?tr...,5 days ago,Be among the first 25 applicants,"Helsinki, FI","Are you a bit mad, very driven, and excited ab...",https://www.linkedin.com/jobs/view/1599766365,Internship,Internship,Information Technology,"['', 'Marketing and ', 'Advertising', 'Compute..."
3,Data Analyst (Business Intelligence) (m/w/d),atene KOM GmbH,https://de.linkedin.com/company/atene-kom-gmbh...,5 days ago,Be among the first 25 applicants,"Berlin, DE",Für unser Büro-Loft in Berlin-Friedrichshain s...,https://www.linkedin.com/jobs/view/1599163575,Associate,Full-time,Information Technology,"['', 'Information ', 'Technology and ', 'Servi..."
4,Data Insight Analyst - London,Metrica Recruitment,https://www.linkedin.com/company/metrica-recru...,4 weeks ago,Be among the first 25 applicants,"London, GB",**The Company**\nA leading provider of researc...,https://www.linkedin.com/jobs/view/1603033659,Entry level,Full-time,Other,"['', 'Information ', 'Technology and ', 'Servi..."

In [13]:
df = df.drop_duplicates(keep='last')
df = df.reset_index(drop=True)
df.shape

(522, 12)

In [14]:
df = df.replace(to_replace=r'\n', value=' ', regex=True)

In [15]:
df['role-description'] = df['role-description'].apply(remove_punct1)
df['role-description'] = df['role-description'].apply(remove_punct2)

In [16]:
df['role-description'] = df['role-description'].apply(lambda x: x.lower())

In [17]:
# Clean the text according remove the stopwords according to the language of the job post
df['role_description1'] = df['role-description'].apply(remove_stop_words)

# Clean the text according remove the stopwords regardless the language of the job post
df['role_description1'] = df['role_description1'].apply(remove_stop_words1)

In [18]:
df['role-description'] = df['role-description'].apply(convert_unidecode)

In [19]:
df['role_description1'] = df['role_description1'].apply(stem_snowball)

In [20]:
df['lang'] = df['role-description'].apply(lambda x: detect(x))

In [21]:
df = df[df['lang'].map(df['lang'].value_counts()) > 2]

In [22]:
df.head()

,title,company,company-link,post-date,applications,location,role-description,link,"experience,",type_work,function,sector_final,role_description1,lang
0,"Data Analyst - Milano, Milano",P. & P. Consulting,https://it.linkedin.com/company/programs-&-pro...,2 days ago,Be among the first 25 applicants,"Milano, IT",ricerchiamo un data analyst per attivita di a...,https://www.linkedin.com/jobs/view/1605083546,Entry level,Full-time,Information Technology,"['', 'Information ', 'Technology and ', 'Servi...","[ricerchiamo, data, analyst, per, attività, di...",it
1,Data Analyst,Cromwell Property Services,https://uk.linkedin.com/company/cromwell?trk=g...,3 weeks ago,Be among the first 25 applicants,"Leicester, GB",as we embark on an exciting period of change t...,https://www.linkedin.com/jobs/view/1564171840,Entry level,Full-time,Information Technology,"['', 'Staffing and ', 'Recruiting', 'Consumer ...","[embark, excit, period, chang, throughout, bus...",en
2,Data Analyst Intern,The Shortcut,https://fi.linkedin.com/company/theshortcut?tr...,5 days ago,Be among the first 25 applicants,"Helsinki, FI",are you a bit mad very driven and excited ab...,https://www.linkedin.com/jobs/view/1599766365,Internship,Internship,Information Technology,"['', 'Marketing and ', 'Advertising', 'Compute...","[bit, mad, driven, excit, build, new, thing, l...",en
3,Data Analyst (Business Intelligence) (m/w/d),atene KOM GmbH,https://de.linkedin.com/company/atene-kom-gmbh...,5 days ago,Be among the first 25 applicants,"Berlin, DE",fur unser buro loft in berlin friedrichshain s...,https://www.linkedin.com/jobs/view/1599163575,Associate,Full-time,Information Technology,"['', 'Information ', 'Technology and ', 'Servi...","[buro, loft, berlin, friedrichshain, such, ab,...",de
4,Data Insight Analyst - London,Metrica Recruitment,https://www.linkedin.com/company/metrica-recru...,4 weeks ago,Be among the first 25 applicants,"London, GB",the company a leading provider of research...,https://www.linkedin.com/jobs/view/1603033659,Entry level,Full-time,Other,"['', 'Information ', 'Technology and ', 'Servi...","[compani, lead, provid, research, data, strate...",en

In [23]:
df['role_des_bigrams'] = df['role_description1'].apply(bigrams)

In [24]:
df['role_des_trigrams'] = df['role_description1'].apply(trigram)

In [25]:
df.head()

,title,company,company-link,post-date,applications,location,role-description,link,"experience,",type_work,function,sector_final,role_description1,lang,role_des_bigrams,role_des_trigrams
0,"Data Analyst - Milano, Milano",P. & P. Consulting,https://it.linkedin.com/company/programs-&-pro...,2 days ago,Be among the first 25 applicants,"Milano, IT",ricerchiamo un data analyst per attivita di a...,https://www.linkedin.com/jobs/view/1605083546,Entry level,Full-time,Information Technology,"['', 'Information ', 'Technology and ', 'Servi...","[ricerchiamo, data, analyst, per, attività, di...",it,"[(ricerchiamo, data), (data, analyst), (analys...","[(ricerchiamo, data, analyst), (data, analyst,..."
1,Data Analyst,Cromwell Property Services,https://uk.linkedin.com/company/cromwell?trk=g...,3 weeks ago,Be among the first 25 applicants,"Leicester, GB",as we embark on an exciting period of change t...,https://www.linkedin.com/jobs/view/1564171840,Entry level,Full-time,Information Technology,"['', 'Staffing and ', 'Recruiting', 'Consumer ...","[embark, excit, period, chang, throughout, bus...",en,"[(embark, excit), (excit, period), (period, ch...","[(embark, excit, period), (excit, period, chan..."
2,Data Analyst Intern,The Shortcut,https://fi.linkedin.com/company/theshortcut?tr...,5 days ago,Be among the first 25 applicants,"Helsinki, FI",are you a bit mad very driven and excited ab...,https://www.linkedin.com/jobs/view/1599766365,Internship,Internship,Information Technology,"['', 'Marketing and ', 'Advertising', 'Compute...","[bit, mad, driven, excit, build, new, thing, l...",en,"[(bit, mad), (mad, driven), (driven, excit), (...","[(bit, mad, driven), (mad, driven, excit), (dr..."
3,Data Analyst (Business Intelligence) (m/w/d),atene KOM GmbH,https://de.linkedin.com/company/atene-kom-gmbh...,5 days ago,Be among the first 25 applicants,"Berlin, DE",fur unser buro loft in berlin friedrichshain s...,https://www.linkedin.com/jobs/view/1599163575,Associate,Full-time,Information Technology,"['', 'Information ', 'Technology and ', 'Servi...","[buro, loft, berlin, friedrichshain, such, ab,...",de,"[(buro, loft), (loft, berlin), (berlin, friedr...","[(buro, loft, berlin), (loft, berlin, friedric..."
4,Data Insight Analyst - London,Metrica Recruitment,https://www.linkedin.com/company/metrica-recru...,4 weeks ago,Be among the first 25 applicants,"London, GB",the company a leading provider of research...,https://www.linkedin.com/jobs/view/1603033659,Entry level,Full-time,Other,"['', 'Information ', 'Technology and ', 'Servi...","[compani, lead, provid, research, data, strate...",en,"[(compani, lead), (lead, provid), (provid, res...","[(compani, lead, provid), (lead, provid, resea..."

In [26]:
trigrams = {tup:lst.count(tup) for lst in df['role_des_trigrams'] for tup in lst}

trigrams = {k: v for k, v in trigrams.items() if v > 2}

trigrams_sorted = sorted(trigrams.items(), key=lambda kv: kv[1], reverse=True)

In [27]:
bigrams = {tup:lst.count(tup) for lst in df['role_des_bigrams'] for tup in lst}

bigrams = {k: v for k, v in bigrams.items() if v > 2}

bigrams_sorted = sorted(bigrams.items(), key=lambda kv: kv[1], reverse=True)

In [28]:
tokens = {tup:lst.count(tup) for lst in df['role_description1'] for tup in lst}

tokens = {k: v for k, v in tokens.items() if v > 5}

tokens_sorted = sorted(tokens.items(), key=lambda kv: kv[1], reverse=True)

In [29]:
bigrams_sorted

[(('group', 'intern'), 15),
 (('uk', 'biobank'), 11),
 (('market', 'fundament'), 10),
 (('heineken', 'netherland'), 9),
 (('ground', 'truth'), 9),
 (('h', 'b'), 9),
 (('big', 'dat'), 8),
 (('00', 'h'), 8),
 (('bnp', 'pariba'), 7),
 (('gobiern', 'dat'), 7),
 (('risk', 'data'), 7),
 (('nation', 'grid'), 7),
 (('porsch', 'consult'), 7),
 (('element', 'prototyp'), 7),
 (('transit', 'data'), 6),
 (('civil', 'servic'), 6),
 (('financi', 'crime'), 6),
 (('jam', 'citi'), 6),
 (('digit', 'social'), 6),
 (('small', 'busi'), 6),
 (('financi', 'well'), 6),
 (('stress', 'test'), 6),
 (('back', 'market'), 6),
 (('leadership', 'partner'), 6),
 (('goldman', 'sach'), 6),
 (('social', 'media'), 5),
 (('business', 'data'), 5),
 (('lead', 'instructor'), 5),
 (('mobil', 'game'), 5),
 (('visa', 'bank'), 5),
 (('azur', 'data'), 5),
 (('intelligenc', 'analyst'), 5),
 (('r', 'solut'), 5),
 (('virgin', 'media'), 5),
 (('custom', 'dat'), 5),
 (('mobilcom', 'debitel'), 5),
 (('market', 'model'), 5),
 (('fundament', 'team'), 5),
 (('consult', 'inc'), 5),
 (('customer', 'data'), 5),
 (('field', 'servic'), 5),
 (('qualiti', 'servic'), 4),
 (('busi', 'fashion'), 4),
 (('data', 'support'), 4),
 (('dei', 'dati'), 4),
 (('bod', 'net'), 4),
 (('sustain', 'report'), 4),
 (('salesforc', 'salesforc'), 4),
 (('salesforc', 'org'), 4),
 (('gestion', 'qualit'), 4),
 (('probis', 'expert'), 4),
 (('power', 'app'), 4),
 (('languag', 'learn'), 4),
 (('segment', 'practic'), 4),
 (('land', 'registri'), 4),
 (('suppli', 'team'), 4),
 (('mobil', 'wallet'), 4),
 (('sparta', 'global'), 4),
 (('nation', 'archiv'), 4),
 (('career', 'nationalarch'), 4),
 (('nationalarch', 'gov'), 4),
 (('gov', 'uk'), 4),
 (('data', 'domain'), 4),
 (('price', 'team'), 4),
 (('nielsen', 'sport'), 4),
 (('platform', 'servic'), 4),
 (('zalando', 'loung'), 4),
 (('c', 'omscor'), 4),
 (('vodafon', 'uk'), 4),
 (('vinc', 'energ'), 4),
 (('rate', 'peopl'), 4),
 (('freight', 'audit'), 4),
 (('aalbert', 'surfac'), 4),
 (('surfac', 'treatment'), 4),
 (('lloyd', 'market'), 4),
 (('cib', 'oper'), 4),
 (('cape', 'analyt'), 4),
 (('ubisoft', 'bordeaux'), 4),
 (('airbus', 'helicopt'), 4),
 (('client', 'meet'), 4),
 (('revenu', 'hmrc'), 4),
 (('within', 'agre'), 4),
 (('uk', 'market'), 4),
 (('bank', 'america'), 4),
 (('click', 'view'), 4),
 (('knowledg', 'portal'), 4),
 (('event', 'target'), 4),
 (('suppli', 'chain'), 3),
 (('anchor', 'hanov'), 3),
 (('hanov', 'group'), 3),
 (('properti', 'manag'), 3),
 (('global', 'data'), 3),
 (('candid', 'play'), 3),
 (('custom', 'base'), 3),
 (('carbon', 'emiss'), 3),
 (('cuadr', 'mand'), 3),
 (('govern', 'refer'), 3),
 (('refer', 'master'), 3),
 (('netherland', 'commerc'), 3),
 (('netherland', 'suppli'), 3),
 (('facilit', 'convers'), 3),
 (('convers', 'assist'), 3),
 (('analyt', 'project'), 3),
 (('artifici', 'intellig'), 3),
 (('td', 'repli'), 3),
 (('fator', 'preferencial'), 3),
 (('invest', 'bank'), 3),
 (('front', 'offic'), 3),
 (('pless', 'bellevill'), 3),
 (('effect', 'effici'), 3),
 (('strategi', 'solut'), 3),
 (('relationship', 'manag'), 3),
 (('savil', 'sustain'), 3),
 (('sustain', 'data'), 3),
 (('report', 'output'), 3),
 (('web', 'site'), 3),
 (('pipelin', 'product'), 3),
 (('qualit', 'product'), 3),
 (('dat', 'scientist'), 3),
 (('credit', 'card'), 3),
 (('metapack', 'intellig'), 3),
 (('world', 'lead'), 3),
 (('fitch', 'group'), 3),
 (('urban', 'mobil'), 3),
 (('microsoft', 'technolog'), 3),
 (('app', 'sharepoint'), 3),
 (('ms', 'flow'), 3),
 (('ms', 'form'), 3),
 (('placement', 'function'), 3),
 (('placement', 'strategi'), 3),
 (('placement', 'data'), 3),
 (('placement', 'facil'), 3),
 (('marsh', 'mclennan'), 3),
 (('mclennan', 'compani'), 3),
 (('market', 'knowledg'), 3),
 (('advanc', 'data'), 3),
 (('hm', 'land'), 3),
 (('market', 'research'), 3),
 (('conveni', 'simplic'), 3),
 (('https', 'www'), 3),
 (('becom', 'truli'), 3),
 (('central', 'data'), 3),
 (('secondari', 'respons'), 3),
 (('develop', 'proposit'), 3),
 (('field', 'studi'), 3),
 (('bouygu', 'telecom'), 3),
 (('perform', 'manag'), 3),
 (('particip', 'développ'), 3),
 (('model', 'gobiern'), 3),
 (('complianc', 'effort'), 3),
 (('philip', 'morri'), 3),
 (('time', 'work'), 3),
 (('elig', 'criteria'), 3),
 (('report', 'sale'), 3),
 (('transact', 'monitor'), 3),
 (('financi', 'industri'), 3),
 (('attivo', 'group'), 3),
 (('visualis', 'product'), 3),
 (('advisori', 'assur'), 3),
 (('j', 'p'), 3),
 (('p', 'morgan'), 3),
 (('transform', 'group'), 3),
 (('cib', 'digit'), 3),
 (('libor', 'replac'), 3),
 (('replac', 'program'), 3),
 (('réalis', 'object'), 3),
 (('expérient', 'client'), 3),
 (('contact', 'policy'), 3),
 (('market', 'sale'), 3),
 (('junior', 'graduat'), 3),
 (('graduat', 'data'), 3),
 (('dictionari', 'databas'), 3),
 (('swiss', 'group'), 3),
 (('loyalti', 'analyst'), 3),
 (('compens', 'reward'), 3),
 (('bbc', 'sound'), 3),
 (('ssis', 'ssrs'), 3),
 (('ssrs', 'ssas'), 3),
 (('digit', 'directori'), 3),
 (('treatment', 'gmbh'), 3),
 (('trade', 'floor'), 3),
 (('ing', 'analyt'), 3),
 (('busi', 'assur'), 3),
 (('centr', 'excellent'), 3),
 (('would', 'asset'), 3),
 (('busi', 'travel'), 3),
 (('holder', 'respons'), 3),
 (('different', 'team'), 3),
 (('discrimin', 'harass'), 3),
 (('solut', 'area'), 3),
 (('senior', 'categori'), 3),
 (('categori', 'insight'), 3),
 (('rueil', 'malmaison'), 3),
 (('player', 'behaviour'), 3),
 (('sale', 'rocco'), 3),
 (('unilev', 'food'), 3),
 (('food', 'solut'), 3),
 (('solut', 'uf'), 3),
 (('audit', 'hub'), 3),
 (('audit', 'staff'), 3),
 (('specialist', 'develop'), 3),
 (('within', 'attest'), 3),
 (('releas', 'track'), 3),
 (('falcon', 'io'), 3),
 (('west', 'london'), 3),
 (('basic', 'fit'), 3),
 (('customer', 'experienc'), 3),
 (('underwrit', 'claim'), 3),
 (('maa', 'global'), 3),
 (('truth', 'generat'), 3),
 (('igniti', 'group'), 3),
 (('insight', 'firm'), 3),
 (('firm', 'data'), 3),
 (('colleagu', 'experi'), 3),
 (('airbus', 'group'), 3),
 (('incom', 'expens'), 3),
 (('america', 'merril'), 3),
 (('merril', 'lynch'), 3),
 (('view', 'eeo'), 3),
 (('categori', 'develop'), 3),
 (('across', 'h'), 3),
 (('ffs', 'img'), 3),
 (('mail', 'plus'), 3),
 (('bike24', 'gmbh'), 3),
 (('ai', 'team'), 3),
 (('map', 'locat'), 3),
 (('locat', 'link'), 3),
 (('document', 'documentel'), 3),
 (('help', 'small'), 3),
 (('shop', 'platform'), 3)]

In [30]:
trigrams_sorted

[(('group', 'intern', 'audit'), 14),
 (('data', 'analyt', 'offic'), 8),
 (('associ', 'data', 'analyst'), 8),
 (('credit', 'risk', 'data'), 7),
 (('risk', 'data', 'analyst'), 7),
 (('business', 'intelligenc', 'analyst'), 5),
 (('business', 'data', 'business'), 5),
 (('data', 'business', 'intelligenc'), 5),
 (('market', 'fundament', 'team'), 5),
 (('porsch', 'consult', 'inc'), 5),
 (('salesforc', 'salesforc', 'org'), 4),
 (('bi', 'power', 'app'), 4),
 (('career', 'nationalarch', 'gov'), 4),
 (('digit', 'social', 'media'), 4),
 (('sql', 'data', 'analyst'), 4),
 (('digit', 'platform', 'servic'), 4),
 (('custom', 'dat', 'analyst'), 4),
 (('aalbert', 'surfac', 'treatment'), 4),
 (('customer', 'data', 'analyst'), 4),
 (('high', 'qualiti', 'servic'), 4),
 (('anchor', 'hanov', 'group'), 3),
 (('data', 'govern', 'refer'), 3),
 (('govern', 'refer', 'master'), 3),
 (('refer', 'master', 'data'), 3),
 (('master', 'data', 'busi'), 3),
 (('heineken', 'netherland', 'commerc'), 3),
 (('heineken', 'netherland', 'suppli'), 3),
 (('facilit', 'convers', 'assist'), 3),
 (('savil', 'sustain', 'team'), 3),
 (('sustain', 'report', 'benchmark'), 3),
 (('web', 'data', 'analyst'), 3),
 (('metapack', 'intellig', 'platform'), 3),
 (('power', 'app', 'sharepoint'), 3),
 (('placement', 'data', 'analyt'), 3),
 (('marsh', 'mclennan', 'compani'), 3),
 (('advanc', 'data', 'analyt'), 3),
 (('hm', 'land', 'registri'), 3),
 (('market', 'data', 'servic'), 3),
 (('becom', 'truli', 'data'), 3),
 (('nationalarch', 'gov', 'uk'), 3),
 (('j', 'p', 'morgan'), 3),
 (('cib', 'digit', 'platform'), 3),
 (('libor', 'replac', 'program'), 3),
 (('junior', 'graduat', 'data'), 3),
 (('graduat', 'data', 'analyst'), 3),
 (('total', 'reward', 'strategi'), 3),
 (('freight', 'audit', 'manag'), 3),
 (('ssis', 'ssrs', 'ssas'), 3),
 (('surfac', 'treatment', 'gmbh'), 3),
 (('role', 'holder', 'respons'), 3),
 (('global', 'data', 'analyst'), 3),
 (('senior', 'categori', 'insight'), 3),
 (('categori', 'insight', 'manag'), 3),
 (('report', 'sale', 'rocco'), 3),
 (('unilev', 'food', 'solut'), 3),
 (('food', 'solut', 'uf'), 3),
 (('intern', 'audit', 'staff'), 3),
 (('analyt', 'specialist', 'develop'), 3),
 (('ground', 'truth', 'generat'), 3),
 (('pl', 'sql', 'queri'), 3),
 (('degre', 'field', 'studi'), 3),
 (('financi', 'well', 'product'), 3),
 (('well', 'product', 'team'), 3),
 (('bank', 'america', 'merril'), 3),
 (('america', 'merril', 'lynch'), 3),
 (('click', 'view', 'eeo'), 3),
 (('across', 'h', 'b'), 3),
 (('enterpris', 'data', 'client'), 3),
 (('map', 'locat', 'link'), 3),
 (('help', 'small', 'busi'), 3)]

In [31]:
tokens_sorted

[('attest', 22),
 ('di', 17),
 ('game', 17),
 ('aso', 12),
 ('fitch', 12),
 ('blackrock', 12),
 ('bbc', 12),
 ('rocco', 12),
 ('var', 12),
 ('izettl', 12),
 ('criteo', 11),
 ('marsh', 11),
 ('biobank', 11),
 ('virgin', 11),
 ('nous', 11),
 ('client', 10),
 ('leadership', 10),
 ('ubisoft', 10),
 ('metapack', 10),
 ('bloomberg', 10),
 ('roger', 10),
 ('gobiern', 10),
 ('rsquo', 10),
 ('et', 10),
 ('porsch', 10),
 ('quizlet', 10),
 ('airbus', 10),
 ('nexthink', 10),
 ('dati', 9),
 ('h', 9),
 ('trivago', 9),
 ('vmware', 9),
 ('heuritech', 9),
 ('customer', 9),
 ('atos', 9),
 ('bof', 8),
 ('mail', 8),
 ('savil', 8),
 ('jeux', 8),
 ('hungari', 8),
 ('rabobank', 8),
 ('stfs', 8),
 ('stda', 8),
 ('aalbert', 8),
 ('skello', 8),
 ('beazley', 8),
 ('aviva', 8),
 ('procedur', 7),
 ('guru', 7),
 ('stress', 7),
 ('invest', 7),
 ('bnp', 7),
 ('pariba', 7),
 ('civil', 7),
 ('équip', 7),
 ('element', 7),
 ('ellipt', 7),
 ('jam', 7),
 ('chef', 7),
 ('mclaren', 7),
 ('nielsen', 7),
 ('swiss', 7),
 ('tripact', 7),
 ('grid', 7),
 ('de', 7),
 ('igniti', 7),
 ('bent', 7),
 ('smule', 7),
 ('aon', 7),
 ('mydral', 7),
 ('dei', 6),
 ('team', 6),
 ('firm', 6),
 ('match', 6),
 ('learn', 6),
 ('fashion', 6),
 ('citi', 6),
 ('contractor', 6),
 ('onz', 6),
 ('categori', 6),
 ('mse', 6),
 ('glovo', 6),
 ('wallapop', 6),
 ('emore', 6),
 ('crime', 6),
 ('smarket', 6),
 ('babbel', 6),
 ('cybersécur', 6),
 ('ocado', 6),
 ('cheadl', 6),
 ('wij', 6),
 ('analytical', 6),
 ('uf', 6),
 ('goed', 6),
 ('maa', 6),
 ('whim', 6),
 ('cape', 6),
 ('goldman', 6),
 ('sach', 6),
 ('rapportages', 6),
 ('getyourguid', 6),
 ('amar', 6)]

In [32]:
tokens_x =list(zip(*tokens_sorted))[0]
tokens_y =list(zip(*tokens_sorted))[1]

import matplotlib.pyplot as plt
#%matplotlib notebook
plt.plot(tokens_x, tokens_y);
plt.xticks(rotation=90)
plt.show()

In [33]:
df.sector_final.unique()

array(["['', 'Information ', 'Technology and ', 'Services']",
       "['', 'Staffing and ', 'Recruiting', 'Consumer ', 'Goods', 'Financial ', 'Services']",
       "['', 'Marketing and ', 'Advertising', 'Computer ', 'Software', 'Internet']",
       "['', 'Information ', 'Technology and ', 'Services', 'Internet', 'Staffing and ', 'Recruiting']",
       "['', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software', 'Management ', 'Consulting']",
       "['', 'Construction', 'Staffing and ', 'Recruiting', 'Financial ', 'Services']",
       "['', 'Nonprofit ', 'Organization ', 'Management', 'Staffing and ', 'Recruiting', 'Hospital & ', 'Health ', 'Care']",
       "['', 'Computer ', 'Software', 'Information ', 'Technology and ', 'Services']",
       "['', 'Electrical/', 'Electronic ', 'Manufacturing', 'Marketing and ', 'Advertising', 'Biotechnology']",
       "['', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software', 'Financial ', 'Services']",
       "['', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software']",
       "['', 'Marketing and ', 'Advertising', 'Online ', 'Media', 'Internet']",
       "['', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software', 'Internet']",
       "['', 'Consumer ', 'Goods']",
       "['', 'Marketing and ', 'Advertising', 'Information ', 'Technology and ', 'Services', 'Staffing and ', 'Recruiting']",
       "['', 'Internet', 'Computer ', 'Software']", "['', 'Utilities']",
       "['', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software', 'Hospital & ', 'Health ', 'Care']",
       "['', 'Food & ', 'Beverages']",
       "['', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software', 'Human ', 'Resources']",
       "['', 'Oil & ', 'Energy', 'Financial ', 'Services', 'Accounting']",
       "['', 'Information ', 'Technology and ', 'Services', 'Staffing and ', 'Recruiting', 'Financial ', 'Services']",
       "['', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software', 'Staffing and ', 'Recruiting']",
       "['', 'Food & ', 'Beverages', 'Computer ', 'Software', 'Consumer ', 'Goods']",
       "['', 'Internet']",
       "['', 'Information ', 'Technology and ', 'Services', 'Information ', 'Services', 'Computer ', 'Software']",
       "['', 'E-', 'Learning', 'Higher ', 'Education', 'Internet']",
       "['', 'Information ', 'Technology and ', 'Services', 'Banking', 'Financial ', 'Services']",
       "['', 'Marketing and ', 'Advertising', 'Design', 'Management ', 'Consulting']",
       "['', 'Marketing and ', 'Advertising', 'Consumer ', 'Goods', 'Retail']",
       "['', 'Information ', 'Technology and ', 'Services', 'Staffing and ', 'Recruiting', 'Human ', 'Resources']",
       "['', 'Marketing and ', 'Advertising', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software']",
       "['', 'Internet', 'Marketing and ', 'Advertising', 'Online ', 'Media']",
       "['', 'Staffing and ', 'Recruiting', 'Human ', 'Resources', 'Retail']",
       "['', 'Construction', 'Civil ', 'Engineering', 'Staffing and ', 'Recruiting']",
       "['', 'Information ', 'Technology and ', 'Services', 'Information ', 'Services']",
       "['', 'Human ', 'Resources', 'Banking', 'Financial ', 'Services']",
       "['', 'Tecnologia da informação e serviços ', 'Software', 'Recursos humanos']",
       "['', 'Maquinário']",
       "['', 'Consultoria de gerenciamento', 'Serviços financeiros', 'Contabilidade']",
       "['', 'Marketing e publicidade', 'Internet', 'Recrutamento e seleção']",
       "['', 'Telecomunicações']",
       "['', 'Software', 'Internet', 'Saúde, bem-estar e educação física']",
       "['', 'Construção', 'Serviços financeiros', 'Imobiliário']",
       "['', 'Software', 'Tecnologia da informação e serviços ', 'Internet']",
       "['', 'Internet', 'Mídia online', 'Entretenimento']",
       "['', 'Marketing e publicidade', 'Tecnologia da informação e serviços ', 'Software']",
       "['', 'Tecnologia da informação e serviços ', 'Internet', 'Lazer, viagens e turismo']",
       "['', 'Tecnologia da informação e serviços ', 'Software', 'Internet']",
       "['', 'Marketing e publicidade', 'Tecnologia da informação e serviços ', 'Internet']",
       "['', 'Software', 'Internet', 'Serviços financeiros']",
       "['', 'Contabilidade', 'Serviços financeiros']",
       "['', 'Tecnologia da informação e serviços ', 'Recrutamento e seleção', 'Recursos humanos']",
       "['', 'Marketing e publicidade', 'Software', 'Internet']",
       "['', 'Alimentos e bebidas', 'Produtos alimentícios', 'Recrutamento e seleção']",
       "['', 'Manufatura de eletroeletrônicos', 'Marketing e publicidade', 'Internet']",
       "['', 'Hardware', 'Software', 'Tecnologia da informação e serviços']",
       "['', 'Tecnologia da informação e serviços ', 'Software', 'Serviços financeiros']",
       "['', 'Marketing e publicidade', 'Internet', 'Recursos humanos']",
       "['', 'Mercados de capital', 'Serviços financeiros', 'Pesquisa']",
       "['', 'Imobiliário', 'Software', 'Construção']",
       "['', 'Tecnologia da informação e serviços ', 'Internet']",
       "['', 'Tecnologia da informação e serviços ', 'Recrutamento e seleção', 'Serviços financeiros']",
       "['', 'Marketing e publicidade', 'Recrutamento e seleção', 'Saúde, bem-estar e educação física']",
       "['', 'Saúde, bem-estar e educação física']",
       "['', 'Seguros', 'Consultoria de gerenciamento']",
       "['', 'Marketing e publicidade', 'Tecnologia da informação e serviços ', 'Serviços financeiros']",
       "['', 'Roupas e moda', 'Segurança e investigações', 'Bens de consumo']",
       "['', 'Serviços financeiros']",
       "['', 'Marketing and ', 'Advertising', 'Nonprofit ', 'Organization ', 'Management', 'Government ', 'Administration']",
       "['', 'Information ', 'Technology and ', 'Services', 'Government ', 'Administration', 'Financial ', 'Services']",
       "['', 'Financial ', 'Services', 'Insurance']", "['', 'Banking']",
       "['', 'Information ', 'Technology and ', 'Services', 'Oil & ', 'Energy', 'Financial ', 'Services']",
       "['', 'Marketing and ', 'Advertising', 'Information ', 'Technology and ', 'Services', 'Internet']",
       "['', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software', 'Computer ', 'Games']",
       "['', 'Entertainment', 'Online ', 'Media', 'Retail']",
       "['', 'Apparel & ', 'Fashion', 'Internet', 'Retail']",
       "['', 'Banking', 'Financial ', 'Services']",
       "['', 'Marketing and ', 'Advertising', 'Information ', 'Technology and ', 'Services', 'Financial ', 'Services']",
       "['', 'Computer ', 'Software']",
       "['', 'Investment ', 'Management', 'Financial ', 'Services']",
       "['', 'Computer ', 'Software', 'Internet', 'Computer ', 'Games']",
       "['', 'Financial ', 'Services', 'Investment ', 'Management', 'Capital ', 'Markets']",
       "['', 'Computer ', 'Software', 'Internet', 'Retail']",
       "['', 'Marketing and ', 'Advertising', 'Internet', 'Computer ', 'Games']",
       "['', 'Leisure, ', 'Travel & ', 'Tourism', 'Internet', 'Consumer ', 'Goods']",
       "['', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software', 'Automotive']",
       "['', 'Consumer ', 'Services', 'Financial ', 'Services', 'Information ', 'Technology and ', 'Services']",
       "['', 'Computer ', 'Software', 'Internet', 'Financial ', 'Services']",
       "['', 'Information ', 'Services', 'Information ', 'Technology and ', 'Services', 'Telecommunications']",
       "['', 'Telecommunications']", "['', 'Chemicals']",
       "['', 'Cosmetics']",
       "['', 'Logistics and ', 'Supply ', 'Chain', 'Retail', 'Consumer ', 'Goods']",
       "['', 'Aviation & ', 'Aerospace', 'Defense & ', 'Space']",
       "['', 'Marketing and ', 'Advertising', 'Computer ', 'Software', 'Staffing and ', 'Recruiting']",
       "['', 'Information ', 'Technology and ', 'Services', 'Mechanical or ', 'Industrial ', 'Engineering', 'Oil & ', 'Energy']",
       "['', 'Information ', 'Technology and ', 'Services', 'Computer ', 'Software', 'Insurance']",
       "['', 'Real ', 'Estate', 'Commercial ', 'Real ', 'Estate', 'Architecture & ', 'Planning']",
       "['', 'Staffing and ', 'Recruiting', 'Financial ', 'Services', 'Accounting']",
       "['', 'Market ', 'Research', 'Information ', 'Technology and ', 'Services', 'Retail']",
       "['', 'Information ', 'Technology and ', 'Services', 'Nonprofit ', 'Organization ', 'Management', 'Computer ', 'Software']",
       "['', 'Consumer ', 'Goods', 'Tobacco']",
       "['', 'Transporte/', 'Caminhões/', 'Trens', 'Entrega de encomendas e fretes', 'Transporte marítimo']",
       "['', 'Bens de consumo', 'Tabaco']",
       "['', 'Tecnologia da informação e serviços ', 'Software', 'Recrutamento e seleção']",
       "['', 'Tecnologia da informação e serviços ', 'Bancos', 'Serviços financeiros']",
       "['', 'Recrutamento e seleção', 'Administração governamental', 'Serviços financeiros']",
       "['', 'Tecnologia da informação e serviços ', 'Redes', 'Segurança de redes e computadores']",
       "['', 'Tecnologia da informação e serviços ', 'Software', 'Jogos de computador']",
       "['', 'Internet', 'Tecnologia da informação e serviços']",
       "['', 'Gestão de organização sem fins lucrativos', 'Consultoria de gerenciamento', 'Saúde, bem-estar e educação física']",
       "['', 'Gestão de organização sem fins lucrativos', 'Recrutamento e seleção', 'Atendimento médico e hospitalar']",
       "['', 'Tecnologia da informação e serviços ', 'Internet', 'Recursos humanos']",
       "['', 'Semicondutores', 'Tecnologia da informação e serviços']",
       "['', 'Pesquisa', 'Biotecnologia', 'Indústria farmacêutica']",
       "['', 'Tecnologia da informação e serviços']",
       "['', 'Indústria farmacêutica']",
       "['', 'Construção', 'Arquitetura e planejamento', 'Engenharia mecânica ou industrial']",
       "['', 'Software', 'Indústria automotiva', 'Recrutamento e seleção']",
       "['', 'Tecnologia da informação e serviços ', 'Serviços da informação', 'Software']",
       "['', 'Bancos', 'Serviços financeiros']",
       "['', 'Tecnologia da informação e serviços ', 'Serviços financeiros', 'Gestão de investimentos']",
       "['', 'Internet', 'Entretenimento']",
       "['', 'Manufatura de eletroeletrônicos']",
       "['', 'Tecnologia da informação e serviços ', 'Recrutamento e seleção', 'Hotelaria']",
       "['', 'Marketing e publicidade', 'Recrutamento e seleção', 'Serviços financeiros']",
       "['', 'Alimentos e bebidas', 'Recrutamento e seleção', 'Varejo']",
       "['', 'Materiais esportivos', 'Varejo']",
       "['', 'Bancos', 'Seguros', 'Serviços financeiros']",
       "['', 'Tecnologia da informação e serviços ', 'Software', 'Indústria automotiva']",
       "['', 'Pesquisa de mercado', 'Consultoria de gerenciamento']",
       "['', 'Tecnologia da informação e serviços ', 'Recursos humanos', 'Consultoria de gerenciamento']",
       "['', 'Manufatura de eletroeletrônicos', 'Automação industrial', 'Gestão educacional']",
       "['', 'Marketing e publicidade', 'Internet', 'Bens de consumo']",
       "['', 'Marketing e publicidade', 'Tecnologia da informação e serviços ', 'Recursos humanos']",
       "['', 'Marketing e publicidade', 'Lazer, viagens e turismo', 'Hotelaria']",
       "['', 'Serviços financeiros', 'Bancos']",
       "['', 'Petróleo e energia']",
       "['', 'Tecnologia da informação e serviços ', 'Maquinário', 'Recrutamento e seleção']",
       "['', 'Alimentos e bebidas', 'Recrutamento e seleção', 'Serviços financeiros']",
       "['', 'Internet', 'Varejo', 'Tecnologia da informação e serviços']",
       "['', 'Construção', 'Recrutamento e seleção', 'Serviços financeiros']",
       "['', 'Atendimento médico e hospitalar']",
       "['', 'Pesquisa de mercado']", "['', 'Bancos']",
       "['', 'Jogos de computador']",
       "['', 'Tecnologia da informação e serviços ', 'Internet', 'Pesquisa de mercado']",
       "['', 'Internet', 'Marketing e publicidade', 'Mídia online']",
       "['', 'Recursos humanos', 'Bancos', 'Serviços financeiros']",
       "['', 'Jogos de computador', 'Marketing e publicidade', 'Pesquisa de mercado']",
       "['', 'Consultoria de gerenciamento']",
       "['', 'Serviços da informação', 'Tecnologia da informação e serviços ', 'Telecomunicações']",
       "['', 'Tecnologia da informação e serviços ', 'Recrutamento e seleção', 'Consultoria de gerenciamento']",
       "['', 'Imóveis comerciais', 'Internet', 'Imobiliário']",
       "['', 'Tecnologia da informação e serviços ', 'Internet', 'Serviços financeiros']",
       "['', 'Software', 'Internet', 'Jogos de computador']",
       "['', 'Tecnologia da informação e serviços ', 'Seguros', 'Serviços financeiros']",
       "['', 'Tecnologia da informação e serviços ', 'Gestão de organização sem fins lucrativos', 'Transporte/', 'Caminhões/', 'Trens']",
       "['', 'Manufatura de eletroeletrônicos', 'Tecnologia da informação e serviços ', 'Recrutamento e seleção']",
       "['', 'Recrutamento e seleção', 'Serviços financeiros', 'Contabilidade']",
       "['', 'Marketing e publicidade', 'Recrutamento e seleção', 'Varejo']",
       "['', 'Varejo', 'Marketing e publicidade']",
       "['', 'Gestão de organização sem fins lucrativos']",
       "['', 'Dispositivos médicos', 'Biotecnologia', 'Indústria farmacêutica']",
       "['', 'Tecnologia da informação e serviços ', 'Telecomunicações', 'Serviços financeiros']",
       "['', 'Tecnologia da informação e serviços ', 'Software', 'Consultoria de gerenciamento']",
       "['', 'Internet', 'Software']",
       "['', 'Serviços financeiros', 'Hardware', 'Seguros']",
       "['', 'Seguros']",
       "['', 'Internet', 'Serviços financeiros', 'Contabilidade']",
       "['', 'Indústria automotiva', 'Maquinário', 'Engenharia mecânica ou industrial']",
       "['', 'Tecnologia da informação e serviços ', 'Gestão de organização sem fins lucrativos', 'Administração governamental']",
       "['', 'Bancos', 'Consultoria de gerenciamento', 'Serviços financeiros']",
       "['', 'Seguros', 'Serviços financeiros']",
       "['', 'Tecnologia da informação e serviços ', 'Internet', 'Recrutamento e seleção']",
       "['', 'Bens de consumo']", "['', 'Software']",
       "['', 'Esportes', 'Mídia online', 'Mídia de difusão']",
       "['', 'Segurança de redes e computadores', 'Tecnologia da informação e serviços ', 'Software']",
       "['', 'Lazer, viagens e turismo']",
       "['', 'Software', 'Atendimento ao consumidor', 'Tecnologia da informação e serviços']",
       "['', 'Relações internacionais', 'Tecnologia da informação e serviços']",
       "['', 'Alimentos e bebidas', 'Recrutamento e seleção', 'Bens de consumo']",
       "['', 'Bens de consumo', 'Alimentos e bebidas', 'Produtos alimentícios']",
       "['', 'Serviços financeiros', 'Consultoria de gerenciamento']",
       "['', 'Serviços financeiros', 'Serviços da informação', 'Tecnologia da informação e serviços']",
       "['', 'Internet', 'Varejo', 'Produtos de luxo e joias']",
       "['', 'Cosmética', 'Varejo', 'Bens de consumo']",
       "['', 'Serviços financeiros', 'Seguros', 'Gestão de investimentos']",
       "['', 'Lazer, viagens e turismo', 'Internet', 'Bens de consumo']",
       "['', 'Software', 'Serviços financeiros', 'Tecnologia da informação e serviços']",
       "['', 'Internet', 'Entretenimento', 'Jogos de computador']",
       "['', 'Tecnologia da informação e serviços ', 'Serviços financeiros', 'Contabilidade']",
       "['', 'Tecnologia da informação e serviços ', 'Recrutamento e seleção', 'Telecomunicações']",
       "['', 'Varejo']",
       "['', 'Serviços ambientais', 'Petróleo e energia', 'Transporte marítimo']",
       "['', 'Educação à distância', 'Ensino superior', 'Internet']",
       "['', 'Jogos de computador', 'Tecnologia da informação e serviços ', 'Software']",
       "['', 'Software', 'Internet', 'Recrutamento e seleção']",
       "['', 'Tecnologia da informação e serviços ', 'Serviços da informação', 'Pesquisa']",
       "['', 'Software', 'Tecnologia da informação e serviços ', 'Consultoria de gerenciamento']",
       "['', 'Marketing e publicidade', 'Internet', 'Varejo']",
       "['', 'Manufatura de eletroeletrônicos', 'Tecnologia da informação e serviços ', 'Software']",
       "['', 'Serviços financeiros', 'Bancos', 'Seguros']",
       "['', 'Lazer, viagens e turismo', 'Internet', 'Transporte/', 'Caminhões/', 'Trens']",
       "['', 'Seguros', 'Serviços financeiros', 'Imobiliário']",
       "['', 'Produtos de luxo e joias']",
       "['', 'Serviços para eventos', 'Serviços financeiros', 'Administração de serviços']",
       "['', 'Produção de mídia', 'Mídia de difusão']",
       "['', 'Saúde, bem-estar e educação física', 'Prática médica', 'Atendimento médico e hospitalar']",
       "['', 'Mercados de capital', 'Bancos', 'Bancos de investimento']",
       "['', 'Marketing e publicidade', 'Mídia online', 'Internet']",
       "['', 'Marketing e publicidade', 'Software', 'Recrutamento e seleção']",
       "['', 'Petróleo e energia', 'Recursos renováveis e meio ambiente']",
       "['', 'Internet', 'Lazer, viagens e turismo']",
       "['', 'Tecnologia da informação e serviços ', 'Administração governamental', 'Serviços financeiros']",
       "['', 'Aviação e aeroespacial']",
       "['', 'Internet', 'Tecnologia da informação e serviços ', 'Atendimento ao consumidor']",
       "['', 'Internet', 'Varejo', 'Capital de risco e participações privadas']",
       "['', 'Tecnologia da informação e serviços ', 'Consultoria de gerenciamento', 'Serviços financeiros']",
       "['', 'Tecnologia da informação e serviços ', 'Recursos humanos', 'Serviços financeiros']",
       "['', 'Gestão de organização sem fins lucrativos', 'Recrutamento e seleção', 'Recursos humanos']",
       "['', 'Recursos renováveis e meio ambiente', 'Manufatura de eletroeletrônicos']",
       "['', 'Tecnologia da informação e serviços ', 'Software']",
       "['', 'Recursos humanos']",
       "['', 'Serviços financeiros', 'Tecnologia da informação e serviços']",
       "['', 'Bancos', 'Serviços financeiros', 'Bancos de investimento']",
       "['', 'Tecnologia da informação e serviços ', 'Logística e cadeia de suprimentos', 'Recrutamento e seleção']",
       "['', 'Marketing e publicidade', 'Design', 'Consultoria de gerenciamento']",
       "['', 'Recrutamento e seleção', 'Consultoria de gerenciamento', 'Serviços financeiros']",
       "['', 'Marketing e publicidade', 'Recrutamento e seleção', 'Consultoria de gerenciamento']",
       "['', 'Serviços financeiros', 'Serviços da informação', 'Petróleo e energia']",
       "['', 'Atendimento ao consumidor', 'Serviços financeiros', 'Tecnologia da informação e serviços']",
       "['', 'Contabilidade', 'Serviços financeiros', 'Consultoria de gerenciamento']",
       "['', 'Marketing e publicidade', 'Recursos humanos', 'Consultoria de gerenciamento']",
       "['', 'Marketing e publicidade', 'Internet', 'Serviços financeiros']",
       "['', 'Produtos eletrônicos', 'Bens de consumo']",
       "['', 'Software', 'Petróleo e energia', 'Serviços financeiros']",
       "['', 'Bens de consumo', 'Produtos alimentícios', 'Alimentos e bebidas']",
       "['', 'Marketing e publicidade', 'Tecnologia da informação e serviços ', 'Pesquisa de mercado']",
       "['', 'Segurança de redes e computadores', 'Tecnologia da informação e serviços']",
       "['', 'Mídia online', 'Internet', 'Marketing e publicidade']",
       "['', 'Indústria química']",
       "['', 'Marketing e publicidade', 'Entretenimento', 'Jogos de computador']",
       "['', 'Terceirização e offshoring', 'Seguros', 'Tecnologia da informação e serviços']",
       "['', 'Transportation/', 'Trucking/', 'Railroad', 'Package/', 'Freight ', 'Delivery', 'Maritime']",
       "['', 'Information ', 'Technology and ', 'Services', 'Information ', 'Services', 'Research']"],
      dtype=object)

In [34]:
p = ['!', '(', ')', '-', '[', ']', '{', '}', ';', ':', "'", '"', '\\', ',', '<', '>', '.', '/', '?', '@', '#', '$', '%', '^', '&', '*', '_', '~']

In [35]:
tokens = {lst:df['role_description1'].count(lst) for lst in df['role_description1']}

tokens = {k: v for k, v in tokens.items() if v > 5}

tokens_sorted = sorted(tokens.items(), key=lambda kv: kv[1], reverse=True)

AttributeError: 'Int64Index' object has no attribute 'levels'

In [59]:
def functions_translation(functions):
    for word in functions:
        if word == 'Tecnologia da informação':
            word == 'Information Technology'
        elif word == 'Outro':
            word == 'Other'
        elif word == 'Desenvolvimento comercialVendas':
            word == 'Business DevelopmentSales'
        elif word == 'EngenhariaTecnologia da informação':
            word == 'EngineeringInformation Technology'
        else:
            return word

In [ ]:
functions = [word.strip() for word in df['function'] if word !='']

In [54]:
functions_dict = {word:functions.count(word) for word in functions}
functions_dict = sorted(functions_dict.items(), key=lambda kv: kv[1], reverse=True)

In [60]:
functions_translation(functions)

'Information Technology'

In [56]:
functions_dict

[('Tecnologia da informação', 239),
 ('Information Technology', 72),
 ('Outro', 31),
 ('Desenvolvimento comercialVendas', 22),
 ('Business DevelopmentSales', 12),
 ('EngenhariaTecnologia da informação', 10),
 ('Analista', 7),
 ('Tecnologia da informaçãoAnalista', 6),
 ('Other', 5),
 ('Estratégia/PlanejamentoAnalistaTecnologia da informação', 5),
 ('Marketing', 4),
 ('Financeiro', 4),
 ('Consultoria', 4),
 ('EngineeringInformation Technology', 3),
 ('PesquisaAnalista', 3),
 ('Information TechnologyAnalyst', 2),
 ('Analyst', 2),
 ('Composição e revisão de textosAnalistaFinanceiro', 2),
 ('AnalystInformation TechnologyEngineering', 2),
 ('Tecnologia da informaçãoConsultoria', 2),
 ('Tecnologia da informaçãoDesenvolvimento comercialFinanceiro', 2),
 ('Tecnologia da informaçãoEngenharia', 2),
 ('AnalistaConsultoriaTecnologia da informação', 2),
 ('Tecnologia da informaçãoAnalistaEngenharia', 2),
 ('AnalistaTecnologia da informação', 2),
 ('FinanceiroTecnologia da informação', 2),
 ('Engenharia', 2),
 ('ConsultingInformation Technology', 2),
 ('General BusinessManagementBusiness Development', 2),
 ('ResearchMarketingInformation Technology', 1),
 ('Information TechnologyProject ManagementAnalyst', 1),
 ('Information TechnologyAnalystConsulting', 1),
 ('PesquisaAnalistaCiências', 1),
 ('GerenciamentoConsultoriaAtendimento ao Cliente', 1),
 ('PesquisaAnalistaTecnologia da informação', 1),
 ('Recursos humanos', 1),
 ('Management', 1),
 ('SalesBusiness DevelopmentStrategy/Planning', 1),
 ('ResearchFinance', 1),
 ('FinanceAccounting/AuditingInformation Technology', 1),
 ('Strategy/Planning', 1),
 ('Project ManagementInformation TechnologyProduct Management', 1),
 ('AnalystCustomer ServiceEngineering', 1),
 ('PurchasingSupply ChainProduct Management', 1),
 ('Business DevelopmentResearchProduct Management', 1),
 ('FinanceSales', 1),
 ('ConsultingInformation TechnologySales', 1),
 ('Supply Chain', 1),
 ('ConsultoriaTecnologia da informaçãoAnalista', 1),
 ('GerenciamentoManufatura', 1),
 ('Tecnologia da informaçãoDesenvolvimento comercialGestão de produtos', 1),
 ('Pesquisa', 1),
 ('Tecnologia da informaçãoDesenvolvimento comercial', 1),
 ('Negócios em geralOutro', 1),
 ('EngenhariaGestão de projetos', 1),
 ('Negócios em geralGerenciamentoEstratégia/Planejamento', 1),
 ('VendasMarketing', 1),
 ('AnalistaCiênciasEngenharia', 1),
 ('AnalistaEngenhariaTecnologia da informação', 1),
 ('Tecnologia da informaçãoVendas', 1),
 ('AnalistaEstratégia/PlanejamentoPesquisa', 1),
 ('AnalistaEstratégia/PlanejamentoTecnologia da informação', 1),
 ('AnalistaTecnologia da informaçãoContabilidade/Auditoria', 1),
 ('MarketingVendas', 1),
 ('FinanceiroVendas', 1),
 ('Atendimento ao ClienteAnalistaConsultoria', 1),
 ('FinanceiroOutroContabilidade/Auditoria', 1),
 ('Cadeia de suprimentos', 1),
 ('OutroAnalista', 1),
 ('Estratégia/Planejamento', 1),
 ('Composição e revisão de textosPesquisaAnalista', 1),
 ('Tecnologia da informaçãoAnalistaFinanceiro', 1),
 ('Vendas', 1),
 ('Contabilidade/Auditoria', 1),
 ('AnalistaNegócios em geral', 1),
 ('EducaçãoTreinamento', 1),
 ('ConsultoriaTecnologia da informação', 1),
 ('Negócios em geralGerenciamentoDesenvolvimento comercial', 1),
 ('OutroAnalistaPesquisa', 1),
 ('FinanceiroAnalista', 1),
 ('Contabilidade/AuditoriaFinanceiro', 1),
 ('PesquisaVendasFinanceiro', 1),
 ('EngenhariaGestão de projetosAnalista', 1),
 ('Tecnologia da informaçãoDistribuição', 1),
 ('Atendimento ao Cliente', 1),
 ('AnalistaGestão de projetosFinanceiro', 1),
 ('FinanceiroConsultoria', 1),
 ('AnalistaTecnologia da informaçãoConsultoria', 1),
 ('AnalistaMarketingTecnologia da informação', 1),
 ('MarketingRelações públicasComposição e revisão de textos', 1),
 ('Tecnologia da informaçãoAnalistaConsultoria', 1)]

In [37]:
df['function'][0]

'Information Technology'